<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huskies.developer">
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.huskies.developer.homePage"
            android:exported="true" />
        <activity
            android:name="com.huskies.developer.splashscreen"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>/>
        </activity>
        <activity
            android:name="com.huskies.developer.signup"
            android:exported="true" />
        <activity
            android:name="com.huskies.developer.login"
            android:exported="true" />
        <activity
            android:name="com.huskies.developer.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.huskies.developer.activities.DiaryActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name="com.huskies.developer.activities.MyMenuActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.huskies.developer.activities.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.huskies.developer.activities.DishActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.huskies.developer.activities.ExerciseActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.huskies.developer.activities.StatisticActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.huskies.developer.activities.ExerciseEditorActivity" />
        <activity android:name="com.huskies.developer.activities.DishesEditorActivity" />
        <activity android:name="com.huskies.developer.activities.PickDishActivity" />
        <activity android:name="com.huskies.developer.activities.PickExerciseActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>